@charset "UTF-8";

/*------------------------------------*\
    $OBJECTS-AND-ABSTRACTIONS
\*------------------------------------*/
/**
 * All of inuit.css’ objects and abstractions are initially turned off by
 * default. This means that you start any project with as little as possible,
 * and introducing objects and abstractions is as simple as switching the
 * following variables to `true`.
 */
$use-grids: true;
$use-media: true;
$use-beautons: true;

$use-flexbox: false;
$use-columns: false;
$use-nav: false;
$use-options: false;
$use-pagination: false;
$use-breadcrumb: false;
$use-marginalia: false;
$use-island: false;
$use-block-list: false;
$use-matrix: false;
$use-split: false;
$use-this-or-this: false;
$use-link-complex: false;
$use-flyout: false;
$use-arrows: false;
$use-sprite: false;
$use-icon-text: false;
$use-lozenges: false;
$use-rules: false;
$use-stats: false;
$use-greybox: false;
$push: false;
$pull: false;
$palm-push: false;
$palm-pull: false;

@import "vars";
@import "ui/objects/select2";

.addresses {

    @import "inuit.css/inuit";
    @import 'bourbon/bourbon';
    @import "mixins";
    @import "ui/objects/grids";
    @import "ui/objects/beautons";
    @import "ui/ui";
    @import "ui/forms";
    @import "ui/address-form";
    @import "ui/objects/cards";
    @import "ui/common";
    @import "ui/_ui.scss";
    @import "ui/typography";

    input, select, button, .address > span {
        font-size: 1rem;
    }

    .btn, .cta, button {
        font-family: Verdana, sans-serif !important;
        font-weight: normal;
    }

    .new-address {
        li.one-half {
            float: left;

            button.btn {
                font-weight: normal;
            }
        }
    }
    .grid{
        margin-left: 0;
    }

    .card{
        margin: 0;
    }
}

.select2-results__options, input[type=search] {
    font-size: 1rem;
}
