xmp {
	list-style: none;
	text-indent: 0;
	@include font-size(.9);
	margin: 0;
	border-radius: $brand-round;
	background: $lighter;
	padding: 1em;
	color: $light-blue;
}

.pattern {
	padding-bottom: 3em;
	margin-bottom: 3em;
	border-bottom: $lineweight $linetype $lighter;
}

body {
	background-color: $white-smoke;

	@media #{$desk} {
		margin: 0 auto;
		max-width: 60em;
		overflow: hidden;
	}

	box-shadow: 0px 0px 62px -25px rgba(50, 50, 50, 0.75);
}

*, *:before, *:after {
	box-sizing: border-box !important;
	-moz-box-sizing: border-box !important;
	-webkit-box-sizing: border-box !important;
}

/* HEADER */
.global-nav {
	height: 4.9em;
	background-color: $white;
	display: block;
	overflow: hidden;

	> div.grid {
		height: 100%;
		position: relative;

		> .grid__item {
			padding-left: 0;
		}
		/* LOGO */
		> .logo {
			position: absolute;
			top: 14%;
			padding-left: .5em;

			@media #{$desk} {
				@include rem-attribute('padding-left', 2.25);
			}

			> a {
				text-decoration: none;
				border: none;

				img {
					min-width: 99px;
					width: 99px;
				}
			}
		}
		/* HELP */
		> .help {
			position: absolute;
			text-align: center;
			top: 0;
			left: 30%;

			@media #{$lap} {
				left: 26%;
			}

			> a {
				cursor: pointer;
				margin-bottom: 0;
				text-align: center;
				color: #4f86b7;
				line-height: 4.6em;

				@media #{$desk} {
					display: none;
				}
			}
		}
		/* TRUST ASSET */
		> .trust {
			position: absolute;
			right: 0;

			@media #{$lap} {
				@include rem-attribute('min-width', 14);
			}

			@media #{$desk} {
				@include rem-attribute('right', 2.25);
			}

			.trust-asset {
				display: block;
				float: right;
				@include rem-attribute('margin-top', 1.125);
				@include rem-attribute('line-height', 2.875);
				color: #282828;

				@media #{$lap} {
					&:before {
						@include pseudo(10em, 1em, "Secure Transaction");
						display: inline;
						content: "Secure Transaction";
						vertical-align: top;
						position: relative;
						top: 50%;
					}
				}

				.trust-asset-lock {
					width: 2em;
					height: 2em;

					.lock {
						fill: $light-blue;

						@media #{$desk} {
							fill: $lighter;
						}
					}
				}
			}
		}
	}
}

.checkout {
	> header {
		@media #{$desk} {
			padding: 1em 2em;
		}
		/* PROGRESS BAR */
		.progress {
			text-align: center;
			margin-top: .5em;

			@media #{$palm} {
				margin-top: 0;
			}

			@media #{$desk} {
				width: 98.6%;
			}

			ul {
				margin: 0;
				@include box-shadow-light;

				li {
					list-style: none;
					display: block;
					float: left;
					margin: 0;
					width: 25%;
					height: 3em;

					@media #{$palm} {
						height: 4em;
					}

					border: 1px solid $medium-gray;
					background-color: $white-smoke;
					@include transition($transition);

					a {
						display: block;
						float: left;
						text-align: center;
						width: 100%;
						margin: 0;
						border-bottom: 0;
						padding: 6% 0;
						@include font(0.9, 500, 1);
						@include transition($transition);
						color: $dark-gray;
						text-decoration: none;
						text-shadow: $text-shadow-light;
						@include vertical-align;

						@media #{$desk} {
							&:before, &:after {
								content: " ";
								display: block;
								width: 0;
								height: 0;
								padding: 0;
								@include rem-attribute('border-top-width', 1.7);
								@include rem-attribute('border-bottom-width', 1.7);
								border-bottom-style: solid;
								border-top-style: solid;
								border-bottom-color: transparent;
								border-top-color: transparent;
								border-left-style: solid;
								@include rem-attribute('border-left-width', 1);
								top: 100%;
								left: 99.5%;
								@include rem-attribute('margin-top', -3.26);
								position: absolute;
								@include transition($transition);
							}

							&:before {
								border-left-color: $medium-gray;
								@include rem-attribute('margin-left', .1);
								z-index: 1;
							}

							&:after {
								border-left-color: $white-smoke;
								z-index: 2;
							}
						}
					}

					&.active {
						background-color: $nav-blue !important;
						border-color: $nav-blue !important;

						a {
							color: $near-white !important;
							font-weight: bold !important;
							text-shadow: $text-shadow-dark !important;

							@media #{$desk} {
								&:before, &:after {
									border-left-color: $nav-blue !important;
								}
							}
						}
					}

					&.completed {
						background-color: $light-gray;

						a {
							@media #{$desk} {
								&:after {
									border-left-color: $light-gray;
								}
							}
						}
					}

					&:hover, &.active:hover {
						background-color: $white;
						border-color: $medium-gray;

						a, a:hover {
							color: $dark-gray;
							text-shadow: $text-shadow-light;

							@media #{$desk} {
								&:before {
									border-left-color: $medium-gray;
								}

								&:after {
									border-left-color: $white;
								}
							}
						}
					}
				}
			}

			.nav {
				margin-bottom: 0;
			}
		}
	}

	> article {
		padding: 0 .313em;

		@media #{$desk} {
			padding: 1em 2em;
		}

		form {
			h2 {
				@include rem-attribute('margin-top', 1);
				@include font-size(1.5);
				@include line-height(1.5);
				color: #222;
				font-weight: bold;

				@media #{$desk} {
					@include font-size(1.875);
					font-weight: normal;
				}
			}
		}

		h2 {
			@include rem-attribute('margin-top', 2);

			@media #{$desk} {
				margin-top: 0;
			}
		}
	}

	> footer {
		@media #{$desk} {
			padding: 1em 5em;
		}
	}
}

.clear {
	clear: both;
}

.nav--fit {
	width: 101%;
}


.hide {
	visibility: hidden;
	height: 0;
	overflow: hidden;
}

.address-wrapper {
	list-style: none;

	li {
		display: block;
		float: left;
	}
}

.cta_bar {
	margin-bottom: 2em;
	height: auto;

	.grid__item {
		@include rem-height($tapheight);
		clear: both;
		display: block;
		text-align: center;
		float: left;

		@media #{$lap} {
			clear: none;
		}

		@media #{$palm} {
			margin-top: 1em;
		}

		&.one-whole {
			@media #{$palm} {
				padding-left: 0;
			}
		}
	}

	.footer-total-container {
		border: 1px solid $medium-gray;
		border-radius: $brand-round;
		background-image: -moz-linear-gradient( 90deg, $white-smoke 0%, $white 100%);
		background-image: -webkit-linear-gradient( 90deg, $white-smoke 0%, $white 100%);
		background-image: -ms-linear-gradient( 90deg, $white-smoke 0%, $white 100%);
		@include box-shadow-light;

		.total {
			text-align: center;
			@include font(1.5, bold, 1);
			position: relative;
			top: 32%;
			text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.004);
			margin-bottom: 0;

			@media #{$desk} {
				@include font(1.9, normal, 1);
			}

			&:before {
				@include pseudo(auto, auto, "Total");
				@include font(.8, bold, 1);
				top: -5px;
				text-transform: uppercase;
				margin-right: .5em;
			}
		}
	}

	.btn {
		height: 100%;
		width: 100%;
	}
}

#content {
	min-height: 1000px;
	background-color: $lightest;
}

.checkout > footer {
	min-height: ($tapheight - 1) + em;
	border: 1px solid #d8d8d8;
	background-color: #eaeaea;
	padding-top: 1em;
	padding-bottom: 3em;

	#help-content {
		h2, p {
			text-align: center;
			@include rem-attribute('margin', 2);
			color: #5d5d5d;
			text-shadow: $text-shadow-white;
		}

		h2 {
			margin-bottom: .5em;
		}

		a.btn {
			text-align: center;
			width: 100%;
		}

		> div {
			margin-bottom: 1em;
		}

		> div.left {
			text-align: left;
		}

		> div.right {
			text-align: right;
		}
	}
}

.cancel-order {
	text-align: center;
	margin: 2em 0;

	> a {
		@media #{$palm} {
			width: 100%;
		}
	}
}

form {
	> ul.card {
		padding-left: 0;
		padding-right: $base-spacing-unit;
	}
}

.changeaddress, .createaddress {
	margin: 1em auto;
	width: 100%;
}

.changeaddress {
	position: relative;
	top: -0.95em;

	@media #{$lap} {
		margin-top: 0;
	}
}

.address-item, .credit-card {
	text-align: left;

	span {
		display: inline-block;
		text-align: left;
	}

	.name {
		font-weight: bold;
	}

	.company, .country, .type, .masked-number, .expiration {
		display: block;
	}


	.edit {
		position: relative;
		float: left;
		margin-bottom: 1em;
	}

	.address {
		text-align: left;
		display: block;
		float: left;
		margin-left: 0;
		margin-top: 0;
		clear: left !important;

		@media #{$lap} {
			clear: none;
		}

		@media #{$desk} {
			clear: both;
		}
	}
}

.label {
	font-weight: 500 !important;
}

.create-credit-card-wrapper {
	margin-bottom: 1em;
}

input[type=radio] + label.card {
	&:hover, &:focus {
		border-color: $medium-gray;
		color: #282828;
	}

	&:active {
		color: #282828;
		border-color: $medium-gray;
		background-image: -moz-linear-gradient( 90deg, $white 0%, $white-smoke 100%);
		background-image: -webkit-linear-gradient( 90deg, $white 0%, $white-smoke 100%);
		background-image: -ms-linear-gradient( 90deg, $white 0%, $white-smoke 100%);
	}

	> span.btn {
		@extend .check-button;
		position: relative;
		display: block;
		height: 100%;
		float: right;
		margin-top: 0;
		margin-bottom: 0;
	}

	button {
		display: block;
	}
}

input[type=radio]:disabled + label.card {
	&:hover, &:focus, &:active {
		border-color: #cacaca;
		color: #7c7c7c;
	}
}

.check-button {
	border-radius: $circle;
	border: 1px solid #cecece;
	color: #cecece;
	font-size: 25px;
	background: none;
	padding: 0px 6px;
	text-shadow: $text-shadow-light;
}

.check-button-checked {
	background-color: #6aa9d5;
	color: $white;
	border-color: #6aa9d5;
	text-shadow: 0px -1px 0px #000;
}

input[type=radio]:checked + label.card {
	color: #282828;

	> span.btn {
		@extend .check-button-checked;
	}
}

.new-address {
	clear: both;
	margin-bottom: 2em;

	button {
		margin-right: 1em;
	}

	.country {
		text-align: center !important;

		label {
			margin-bottom: 1em;
		}
	}
}

.buttons {
	margin-bottom: 1em;
}

.shipping-option-item {
	@include font-size(1);

	@media #{$lap} {
		@include font-size(1.125);
	}

	&.no-shipping > label.card {
		@include rem-attribute('margin-top', 1);
		color: #282828;
	}

	> label.card > .grid {
		width: 110%;

		@media #{$lap} {
			width: 100%;
		}
	}

	.grid__item {
		@include rem-attribute('padding-left', .5);

		@media #{$lap} {
			@include rem-attribute('padding-left', 2, true);
		}
	}

	label.card:hover .carrier-image > span:after, input[type=radio]:checked + label.card .carrier-image > span:after {
		background-color: transparent;
	}

	input[type=radio] + label.card span.btn {
		@extend .check-button;
	}

	input[type=radio]:checked + label.card span.btn {
		@extend .check-button-checked;
	}

	.carrier-image {
		&.grid__item {
			@include rem-attribute('padding-left', .75);

			@media #{$lap} {
				@include rem-attribute('padding-left', 2, true);
			}
		}

		position: relative;
		@include transition($transition);
		@include rem-attribute('height', 3);
		@include rem-attribute('margin-left', 1);

		span {
			display: inline-block;
			background-size: contain;
			background-repeat: no-repeat;
			@include rem-attribute('width', 2.5);
			@include rem-attribute('height', 2.5);

			&.ups {
				background-image: url('//media.hairdirect.com/store/images/ups-icon.svg');
			}

			&.usps {
				@include rem-attribute('margin-top', 1);
				background-image: url('//media.hairdirect.com/store/images/usps-icon.svg');
			}

			&.postnl {
				background-image: url('//media.hairdirect.com/store/images/postnl-icon.svg');
			}

			&.gls {
				@include rem-attribute('margin-top', 1.3);
				background-image: url('//media.hairdirect.com/store/images/gls-icon.svg');
			}

			&:after {
				height: 100%;
				width: 100%;
				@include transition($transition);
				content: " ";
				display: inline-block;
				position: absolute;
				top: 0;
				left: 0;
				background-color: $white-overlay;
				z-index: 2;
			}
		}
	}

	.details {
		@media #{$desk} {
			@include rem-attribute('padding-left', 0, true);
		}

		@include stripped-list;

		ul {
			@media #{$desk} {
				display: table;
				width: 100%;
			}
		}

		li {
			@include font-size(1);

			@media #{$desk} {
				display: table-cell;
				vertical-align: middle;
				@include rem-attribute('padding-right', .5)
			}
		}

		li.carrier {
			font-weight: bold;

			@media #{$desk} {
				width: 19%;
				font-weight: normal;
			}
		}

		li.method {
			@media #{$desk} {
				width: 41%;
				font-weight: bold;
			}
		}

		li.delivery-date {
			@media #{$desk} {
				width: 40%;
			}
		}
	}

	.price {
		@media #{$lap} {
			@include font-size(1.875);
		}

		text-align: right;
		font-weight: bold;
	}
}

.shipping-method {
	p {
		margin-left: 1em;

		@media #{$desk} {
			margin-left: 0;
		}
	}
}

.payment-option-list.btn_group {
	margin-bottom: 0;
}

.credit-card-list-container {
	@include rem-attribute('margin-top', 2)
}

.default-payment {
	.card {
		margin-top: 0;
		padding-top: 1em;
	}
}

/* Promo code styles */
.promo-code-container {
	@include font-size(.875);

	button {
		width: 100%;

		@media #{$desk} {
			width: auto;
		}
	}

	.remove-promo, .apply-promo {
		@include rem-attribute('margin-top', 1);

		@media #{$desk} {
			text-align: right;
			@include rem-attribute('margin-top', 0);
		}
	}
	/* Promo code entry form styles */
	> .promo-form {
		@include rem-attribute('margin-bottom', 2);

		input[type=text] {
			@include rem-attribute('height', 3);
			text-transform: uppercase;
		}
	}
	/* Promo code success panel */
	> .success > .card {
		color: #4f86b7;
		border-color: #6aa9d5;

		> .grid {
			@media #{$lap} {
				display: table;
				width: 100%;
			}

			> .grid__item {
				@media #{$lap} {
					display: table-cell;
					vertical-align: middle;
				}
			}
		}
	}
}

/* Shared credit card item & payment summary styles */
.credit-card-item, .billing-information {
	.card {
		.masked-number > span {
			font-weight: bold;
		}

		.address {
			@include rem-attribute('margin-top', 1);

			> .label {
				@include small-label-text;
			}
		}
	}
}

/* Credit card item styles */
.credit-card-item {
	input[type=radio] + label.card {
		span.btn {
			@extend .check-button;
		}
	}

	input[type=radio]:checked + label.card {
		span.btn {
			@extend .check-button-checked;
		}

		.type:after {
			background-color: transparent;
		}
	}

	label.card:hover .type:after {
		background-color: transparent;
	}

	input[type=radio]:disabled + label.card {
		.expiration {
			color: $red;
		}

		.type:after {
			background-color: $white-overlay;
		}
	}

	.card {
		.button-item {
			@include rem-attribute('margin-bottom', 1);

			.btn.tertiary {
				float: left;
			}

			.btn.secondary, .expired-label {
				float: right;
			}

			.expired-label {
				text-transform: uppercase;
				font-weight: bold;
				color: $red;
			}
		}
	}

	@include stripped-list;
}

/* Credit Card Form */
#credit-card-form {
	.card-wallet {
		text-align: left;
		margin-bottom: 0;

		.input, label {
			display: inline;
		}

		@media #{$desk} {
			text-align: right;
			@include rem-attribute('margin-top', 1.2);
			@include rem-attribute('margin-bottom', 1.5);
		}
	}

	.card-number_read_only {
		> .type:after {
			background-color: transparent;
		}
	}

	.card-number {
		position: relative;

		&.visa:after, &.mastercard:after, &.amex:after, &.americanexpress:after, &.discover:after {
			content: " ";
			display: inline-block;
			position: absolute;
			top: 1px;
			border-top-right-radius: $brand-round;
			right: 1px;
			z-index: 2;
			background: url("//media.hairdirect.com/store/images/creditcards.png") 0 0;
			background-repeat: no-repeat;
			background-size: auto 1em;
			width: 1.5em;
			height: 1em;
			overflow: hidden;
		}

		&.visa:after {
			background-position: 0 0;
		}

		&.mastercard:after {
			background-position: -1.5em 0;
		}

		&.amex:after, &.americanexpress:after {
			background-position: -3em 0;
		}

		&.discover:after {
			background-position: -4.5em 0;
		}
	}

	.billing-address {
		.address {
			> .label {
				@include small-label-text;
			}

			.street {
				@include clear;
			}

			.city {
				margin-right: 0;
			}

			.state {
				margin-left: 0.25em;
			}
		}
	}

	.form-fields > li.buttons {
		@include rem-attribute('margin-bottom', .5);
	}
}

.billing-address-container {
	h3 {
		padding-left: 0;
	}
}

/* CREDIT CARD ICONS */
.type {
	background: url("//media.hairdirect.com/store/images/creditcards.png") 0 0;
	background-repeat: no-repeat;
	background-size: auto 1.875em;
	display: block;
	width: 2.85em;
	height: 1.875em;
	overflow: hidden;
	position: relative;
	text-indent: 1000%;
	text-align: right !important;
	clear: left !important;

	&.visa {
		background-position: 0 0;
	}

	&.mastercard {
		background-position: -2.84em 0;
	}

	&.amex, &.americanexpress {
		background-position: -5.67em 0;
	}

	&.discover {
		background-position: -8.5em 0;
	}

	&.paypal {
		background-position: -11.34em 0;
	}

	&:after {
		height: 100%;
		width: 100%;
		@include transition($transition);
		content: " ";
		display: inline-block;
		position: absolute;
		top: 0;
		left: 0;
		background-color: $white-overlay;
		z-index: 2;
	}
}

.paypal-container {
	margin-top: -1em;
	margin-bottom: 2em;
}

.checkbox-input {
	clear: none;
	float: left;
	margin-right: 1em;
	margin-top: 3px;
}

.card-number_read_only {
	.type {
		float: left;
		margin-right: 0.5em;
	}
}

.billing-address {
	font-weight: 500;

	span {
		font-weight: 300;
	}

	.city {
		clear: left;
		display: block;
		float: left;
		margin-right: 0.5em;
	}
}

// REVIEW STEP
.cart-total-container {
	border: 1px solid #ccc;
	border-radius: $brand-round;
	background-color: $white;
	@include stripped-list;
	@include box-shadow-light;

	.cart-items {
		width: 100%;

		.cart-item {
			position: relative;
			width: 100%;
			padding: .5em 0;
			border-bottom: 1px solid #ccc;

			@media #{$desk} {
				@include rem-attribute('max-height', 9.188);
			}

			> .confirmation {
				position: absolute;
				width: 100%;
				z-index: 2;
				background-color: $white;
				text-align: center;
				height: 98%;
				@include rem-attribute('margin-top', -.375);

				> h4 {
					text-align: center;
					font-weight: bold;
				}

				button.btn {
					font-weight: normal;
					@include font-size(1);
					@include rem-attribute('min-width', 6);

					&.cancel {
						@include rem-attribute('margin-right', 1);
					}

					&.confirm {
						@include rem-attribute('margin-left', 1);
					}
				}
			}

			> .grid {
				margin: 0;
				z-index: 1;

				@media #{$desk} {
					display: table;
					width: 100%;
				}

				& > .grid__item {
					@media #{$desk} {
						display: table-cell;
						vertical-align: middle;
					}

					@include rem-attribute('padding-left', .5);

					&.thumbnail {
						> img {
							@include rem-attribute('max-height', 9);

							@media #{$desk} {
								@include rem-attribute('max-height', 8);
							}
						}
					}
				}

				> .details > .grid {
					position: relative;

					> li {
						padding-left: 0;
						@include rem-attribute('margin-bottom', 1);

						&.description {
							> span {
								@include rem-attribute('min-height', 2.875);
								@include rem-attribute('padding-right', 3);

								@media #{$desk} {
									padding-right: 0;
									min-height: 0;
									padding-right: 0;
								}
							}
						}

						&.quantity {
							@media #{$desk} {
								@include rem-attribute('max-width', 10);
							}

							> input[type=number] {
								@include taptarget(-2);
								width: 51%;
								padding-right: 0;
								border-top-right-radius: 0;
								border-bottom-right-radius: 0;

								@media #{$desk} {
									@include rem-attribute('max-width', 5);
								}

								&:focus {
									border-color: #c5c8cc;
									border-width: 1px;
									padding-left: 1em;
									padding-top: inherit;
								}
							}

							> button {
								width: 45%;

								@media #{$desk} {
									@include rem-attribute('max-width', 5.625);
								}

								position: relative;
								right: 6px;
								bottom: 2px;
								border-top-left-radius: 0;
								border-bottom-left-radius: 0;
							}
						}

						&.unit-price {
							@include font-size(1);

							@media #{$desk} {
								position: relative;
								top: .25em;
							}
						}

						&.extended-price {
							text-align: right;
							padding-right: .5em;

							@media #{$lap} {
								@include font-size(1.5);
							}

							@media #{$desk} {
								text-align: right;
								display: block;
								float: right;
								right: 10%;
								top: 3px;
								position: relative;
								padding-right: 0;
							}

							font-weight: bold;
						}

						&.remove-item {
							position: absolute;
							top: 1%;
							right: 1%;
							@include rem-attribute('margin-right', .5);
							@include clear;

							@media #{$desk} {
								right: .5em;
								top: 40%;
							}
						}
					}
				}
			}
		}
	}

	.total-container {
		padding: 1em;

		> div.float--right {
			width: 100%;
			@include rem-attribute('max-width', 20);
		}

		dd {
			@include rem-attribute('margin-bottom', .4);

			&.exclude-tax {
				position: relative;
				@include rem-attribute('top', 2);
			}

			&.subtotal, &.tax, &.total {
				@include rem-attribute('margin-right', 1.4);
			}

			&.exclude-tax {
				@include small-label-text;

				strong {
					@include font-size(.875);
				}
			}
		}

		dt {
			&.split__title {
				@include rem-attribute('min-width', 5.7);
				text-align: right;
			}
		}

		.total {
			@include rem-attribute('padding-top', .5);
			@include border(top, $lineweight, $linetype, $medium-gray);
			@include font-size(1.4);
			font-weight: bold;

			@media #{$lap} {
				@include font-size(1.875);
			}
		}

		.round-button {
			margin: .111em 0 .111em .222em;
		}
	}
}

// Review Checkout Selections
.selection-container {
	.top-content {
		@include rem-attribute('margin-bottom', 1);

		h4 {
			text-align: left;
			font-weight: bold;
			color: #282828;
		}

		button {
			display: block;
			float: right;
		}
	}
	/* Shipping address selection styles */
	.shipping-address {
		.address {
			@include rem-attribute('line-height', 1.5);

			> .company, > .street, > .country, > .phone {
				display: block;
			}
		}
	}
	/* Shipping option selection styles */
	.shipping-option {
		.details {
			padding-left: 0;
			text-align: left;
			@include font-size(.875);
			@include stripped-list;

			@media #{$lap} {
				@include font-size(1);
			}

			li {
				clear: both;

				span {
					display: block;

					&.label {
						width: 31%;
						text-align: right;
						float: left;

						@media #{$lap} {
							width: 20%;
						}
					}

					&.value {
						float: right;
						width: 69%;
						padding-left: .5em;

						@media #{$lap} {
							width: 80%;
						}
					}
				}
			}
		}

		.carrier-image {
			padding-left: 0;
			position: relative;
			vertical-align: top;
			@include rem-attribute('height', 3);

			span {
				display: inline-block;
				background-size: contain;
				background-repeat: no-repeat;
				@include rem-attribute('width', 2.5);
				@include rem-attribute('height', 2.5);

				&.ups {
					background-image: url('//media.hairdirect.com/store/images/ups-icon.svg');
				}

				&.usps {
					@include rem-attribute('margin-top', 1);
					background-image: url('//media.hairdirect.com/store/images/usps-icon.svg');
				}

				&.postnl {
					background-image: url('//media.hairdirect.com/store/images/postnl-icon.svg');
				}

				&.gls {
					@include rem-attribute('margin-top', 1.3);
					background-image: url('//media.hairdirect.com/store/images/gls-icon.svg');
				}
			}
		}
	}
	/* Payment information styles */
	.billing-information {
		@include stripped-list;

		.type:after {
			content: "";
			display: none;
		}

		.address {
			@include rem-attribute('line-height', 1.5);

			.name, .company, .country, .phone {
				display: block;
			}
		}
	}
}

/* Special Instructions */
.special-instructions-container {
	h3 {
		color: #282828;
		@include rem-attribute('margin-top', 1);
	}

	label {
		@include small-label-text;
	}

	textarea {
		@include rem-attribute('padding-top', 1);

		&:focus {
			@include rem-attribute('padding-top', 1);
		}
	}
}

/* Modal */
.modal-inner {
	header {
		padding: 1em 3em !important;
	}
}

.semantic-content.is-active:before {
	background: $dark !important;
}

.modal-close {

	@media #{$lap} {
		text-align: center;
		@include font(3, 100, 2);
		margin-right: -3px;
	}

	color: $dark;

	&:after {


		@media #{$lap} {
			width: 50px;
			height: 50px;
		}

		@media #{$desk} {
			margin-left: 275px !important;
		}
	}
}

.modal-content {
	padding: 3em !important;

	h1 {
		@extend .h2;
		padding: 0;
		margin-top: 0 !important;
	}

	h2 {
		padding: 0 !important;
		@extend .h3;
	}

	h3 {
		padding: 0 !important;
		@extend .h4;
	}

	.flag {
		height: 54px;
		width: 81px;
		display: inline-block;

		&.us {
			background: url(//media.hairdirect.com/store/images/us-flag.png) no-repeat;
		}

		&.uk {
			background: url(//media.hairdirect.com/store/images/uk-flag.png) no-repeat;
		}

		&.eu {
			background: url(//media.hairdirect.com/store/images/eu-flag.png) no-repeat;
		}
	}


	span.arrow {
		color: #90A8B0;
		font-size: 54px;
		font-family: arial;
		font-weight: bold;
		position: relative;
		bottom: 12px;
		margin: 0 8px;
	}
}

#cancel-order-modal {
	text-align: center;

	a {
		display: block;
		clear: both;
		border-bottom: none;
		margin-bottom: 1rem;
		text-align: center;
	}
}

.remove-confirmation {
	.remove-cart-item {
		@include transition($transition);
		-webkit-transform: translateY(0);
		opacity: 1;
	}

	span {
		display: block;
		@include transition($transition);
		margin-top: 0;
		-webkit-transform: translateY(100px);
		opacity: 0;
		height: 0;
	}

	&.confirm {
		.remove-cart-item {
			-webkit-transform: translateY(-30px);
			opacity: 0;
		}

		span {
			display: block;
			opacity: 1;
			-webkit-transform: translateY(0px);
			height: auto;
			margin-top: -145px;

			@media #{$lap} {
				margin-top: -95px;
			}

			@media #{$desk} {
				margin-top: -25px;
			}

			p {
				display: block;
				clear: both;
				margin-bottom: 0;

				@media #{$lap} {
					margin-bottom: 10px;
				}
			}

			button {
				position: relative;
				margin-top: 10px !important;
			}

			.yes {
				@extend .error;

				@media #{$lap} {
					margin-bottom: 10px;
				}
			}

			.no {
				@extend .success;
			}
		}
	}
}


// ORDER CONFIRMATION

.order-confirmation {
	text-align: center;

	h2 {
		text-align: center;
		color: $green;
	}

	.order-number {
		font-weight: 700;
	}

	button {
		margin-top: 3rem;
	}
}

/* Colors */
.bg-lightest {
	background-color: $lightest;
}

.bg-lighter {
	background-color: $lighter;
}

.bg-light {
	background-color: $light;
}

.bg-dark {
	background-color: $dark;
}

.bg-darkest {
	background-color: $darkest;
}

.graybox, .greybox {
}


/* Typography */
a, a:link, a:hover, a:active, a:focus {
	text-decoration: none;
	border-bottom: 1px solid;
}


/** KOSER **/
