*, *:before, *:after {
	box-sizing: border-box !important;
	-moz-box-sizing: border-box !important;
	-webkit-box-sizing: border-box !important;
}

body {
	background-color: $white-smoke;
	max-width: 60em;

	@media #{$desk} {
		margin: 0 auto;
		overflow: hidden;
		box-shadow: 0px 0px 62px -25px $gray-overlay-medium-dark;
	}
}

/* HEADER */
.global-nav {
	height: 4.0em;
	background-color: $white;
	display: block;
	overflow: hidden;

	> div.grid {
		height: 100%;
		position: relative;

		> .grid__item {
			padding-left: 0;
		}
		/* LOGO */
		> .logo {
			position: absolute;
			top: 14%;
			padding-left: .5em;

			@media #{$desk} {
				@include rem-attribute('padding-left', 2.25);
			}

			> a {
				text-decoration: none;
				border: none;

				img {
					min-width: 82px;
					width: 82px;
				}
			}
		}
		/* HELP */
		> .help {
			position: absolute;
			text-align: center;
			top: 0;
			left: 30%;

			@media #{$lap} {
				left: 26%;
			}

			> a {
				cursor: pointer;
				margin-bottom: 0;
				text-align: center;
				color: $blue1;
				line-height: 3.6em;

				@media #{$desk} {
					display: none;
				}
			}
		}
		/* TRUST ASSET */
		> .trust {
			position: absolute;
			right: 0;

			@media #{$lap} {
				@include rem-attribute('min-width', 14);
			}

			@media #{$desk} {
				@include rem-attribute('right', 2.25);
			}

			.trust-asset {
				display: block;
				float: right;
				@include rem-attribute('margin-top', 1);
				@include rem-attribute('line-height', 2.875);
				color: $gray12;

				@media #{$lap} {
					&:before {
						@include pseudo(10em, 1em, "Secure Transaction");
						display: inline;
						content: "Secure Transaction";
						position: relative;
						bottom: 6px;
					}
				}

				.trust-asset-lock {
					width: 2em;
					height: 2em;
				}
			}
		}
	}
}

.checkout {
	> header {
		@media #{$desk} {
			padding: 1em 2em;
		}
		/* PROGRESS BAR */
		.progress {
			text-align: center;
			margin-top: 0;
			position: relative;

			@media #{$desk} {
				margin-top: .5em;
				width: 98.6%;
			}

			ul {
				margin: 0;
				display: table;
				width: 100%;

				@include box-shadow-light;

				@media #{$desk} {
					box-shadow: none;
					display: block;
					width: auto;
				}

				&:after {
					@media #{$desk} {
						display: block;
						content: "";
						position: absolute;
						bottom: 0px;
						@include box-shadow-light;
						width: 95%;
						height: 5px;
					}
				}

				li {
					list-style: none;
					position: relative;
					display: block;
					float: left;
					margin: 0;
					width: 25%;
					height: 3em;
					border: 1px solid $medium-gray;
					background-color: $white-smoke;
					@include rem-attribute('line-height', .889);
					@include transition($transition);
					cursor: default;

					&.active {
						background-color: $nav-blue !important;
						border-color: $nav-blue !important;

						> .outer-container > .inner-container > .element {
							a {
								color: $near-white !important;
								font-weight: bold !important;
								text-shadow: $text-shadow-dark !important;

								&:hover {
									cursor: pointer;
								}
							}
						}
					}

					&.completed {
						background-color: $light-gray;
						cursor: pointer;

						&:hover {
							background-color: $white;
							border-color: $medium-gray;
						}

						> .outer-container > .inner-container > .element {
							a, a:hover {
								cursor: pointer;
								color: $dark-gray;
								text-shadow: $text-shadow-light;
							}
						}
					}
					/* Specific step styles */
					&.shipping {
						a {
							@media #{$desk} {
								left: 10px;
							}
						}
					}

					&.method, &.billing, &.review {
						a {
							@media #{$desk} {
								left: 16px;
							}
						}
					}

					&.review {
						@media #{$desk} {
							width: 22.5%;
						}
					}

					> .outer-container {
						display: table;
						width: 100%;
						height: 100%;

						> .inner-container {
							display: table-cell;
							vertical-align: middle;
							width: 100%;
							margin: 0 auto;
							text-align: center;

							> .element {
								/* Progress item text */
								a {
									text-align: center;
									display: inline-block;
									height: 100%;
									width: 100%;
									margin: 0;
									border-bottom: 0;
									color: $dark-gray;
									text-decoration: none;
									text-shadow: $text-shadow-light;
									cursor: default;
									@include font-size(.75);
									@include transition($transition);

									@media #{$lap} {
										@include font-size(.875);
									}

									@media #{$desk} {
										position: relative;
									}
								}
							}
						}
					}
					/* ARROWS */
					@media #{$desk} {
						&:before, &:after {
							box-shadow: none;
							content: "";
							position: absolute;
							border-collapse: separate;
							left: 100%;
							top: 21%;
							margin-top: -12px;
							z-index: 1;
							@include transition($transition);
						}

						&:before {
							border: 27px solid transparent;
							border-left-color: $medium-gray;
						}

						&:after {
							margin-top: -11px;
							border: 26px solid transparent;
							border-left-color: $white-smoke !important;
						}
						/* ARROW OVERRIDES */
						&.active, &.active:hover, &.active.completed, &.active.completed:hover {
							&:before {
								border-left-color: $nav-blue;
							}

							&:after {
								border-left-color: $nav-blue !important;
							}
						}

						&.completed:hover:after {
							border-left-color: $white !important;
						}

						&.completed:after {
							border-left-color: $light-gray !important;
						}

						&:hover:before {
							border-left-color: $medium-gray;
						}
					}
				}
			}
		}
	}

	> article {
		padding: 0 .313em;

		@media #{$desk} {
			padding: 1em 2em;
		}

		form {
			h2 {
				@include rem-attribute('margin-top', 1);
				@include font-size(1.5);
				@include line-height(1.5);
				color: $gray13;
				font-weight: bold;

				@media #{$desk} {
					@include font-size(1.875);
					font-weight: normal;
				}
			}
		}

		h2 {
			@include rem-attribute('margin-top', 2);

			@media #{$desk} {
				margin-top: 0;
			}
		}
	}

	> footer {
		padding: 1em .25em 3em .25em;

		@media #{$desk} {
			padding: 1em 5em;
		}
	}
}

.span-link {
	cursor: pointer;
	color: $blue1;

	&:hover {
		text-decoration: underline;
	}
}

.vat-mobile {
	display: block;

	> .span-link {
		font-size: 0.625rem;
		top: 1rem;
		position: relative;
	}
}

.vat-inline {
	display: none;
}

@media #{$lap} {
	.vat-inline {
		display: inline;
	}

	.vat-mobile {
		display: none;
	}
}

.cta_bar {
	margin-bottom: 2em;
	height: auto;

	.grid__item {
		@include rem-height($tapheight);
		clear: both;
		display: block;
		text-align: center;
		float: left;

		@media #{$lap} {
			clear: none;
		}

		@media #{$palm} {
			margin-top: 1em;
		}

		&.one-whole {
			@media #{$palm} {
				padding-left: 0;
			}
		}
	}

	.footer-total-container {
		border: 1px solid $medium-gray;
		border-radius: $brand-round;
		@include gradient-background($white-smoke, $white);
		@include box-shadow-light;
		position: relative;

		.total {
			text-align: center;
			@include font(1.5, bold, 1);
			position: relative;
			top: 32%;
			text-shadow: 0px 1px 0px $white-overlay;
			margin-bottom: 0;

			@media #{$desk} {
				@include font(1.9, normal, 1);
			}

			&:before {
				@include pseudo(auto, auto, "Total");
				@include font(.8, bold, 1);
				top: -5px;
				text-transform: uppercase;
				margin-right: .5em;
			}
		}

		.footer-message {
			position: absolute;
			text-align: right;
			right: 6px;
			bottom: -2px;
			@include small-label-text;
		}
	}

	.btn {
		height: 100%;
		width: 100%;
	}
}

.checkout > footer {
	min-height: ($tapheight - 1) + em;
	border: 1px solid $gray14;
	background-color: $gray15;
	padding-top: 1em;
	padding-bottom: 3em;

	#help-content {
		h2, p {
			text-align: center;
			@include rem-attribute('margin', 2);
			color: $gray16;
			text-shadow: $text-shadow-white;
		}

		h2 {
			margin-bottom: .5em;
		}

		.btn {
			text-align: center;
		}

		> div {
			margin-bottom: 1em;
		}

		> div.left {
			text-align: left;
		}

		> div.right {
			text-align: right;
		}
	}
}

.cancel-order {
	padding-left: .25em;
	padding-right: .25em;

	> div {
		text-align: center;
		margin: 2em 0;

		> button {
			@media #{$palm} {
				width: 100%;
			}
		}
	}
}

.credit-card {
	text-align: left;

	span {
		display: inline-block;
		text-align: left;
	}

	.name {
		font-weight: bold;
	}

	.type, .masked-number, .expiration {
		display: block;
	}


	.edit {
		position: relative;
		float: left;
		margin-bottom: 1em;
	}
}

.create-credit-card-wrapper {
	margin-bottom: 1em;
}

/* Shipping Method Styles */
.shipping-option-item {
	@include font-size(1);

	@media #{$lap} {
		@include font-size(1.125);
	}

	&.no-shipping > label.card {
		@include rem-attribute('margin-top', 1);
		color: $gray12;
	}

	> label.card > .grid {
		width: 110%;

		@media #{$lap} {
			width: 100%;
		}
	}

	.grid__item {
		@include rem-attribute('padding-left', .5);

		@media #{$lap} {
			@include rem-attribute('padding-left', 2, true);
		}
	}

	label.card:hover .carrier-image > span:after, input[type=radio]:checked + label.card .carrier-image > span:after {
		background-color: transparent;
	}

	.carrier-image {
		&.grid__item {
			@include rem-attribute('padding-left', .75);

			@media #{$lap} {
				@include rem-attribute('padding-left', 2, true);
			}
		}

		position: relative;
		@include transition($transition);
		@include rem-attribute('height', 3);
		@include rem-attribute('margin-left', 1);

		span {
			display: inline-block;
			background-size: contain;
			background-repeat: no-repeat;
			@include rem-attribute('width', 2.5);
			@include rem-attribute('height', 2.5);

			&.ups {
				background-image: url('//media.hairdirect.com/store/images/ups-icon.svg');
			}

			&.usps {
				@include rem-attribute('margin-top', 1);
				background-image: url('//media.hairdirect.com/store/images/usps-icon.svg');
			}

			&.postnl {
				background-image: url('//media.hairdirect.com/store/images/postnl-icon.svg');
			}

			&.gls {
				@include rem-attribute('height', .75);
				background-image: url('//media.hairdirect.com/store/images/gls-icon.svg');
			}

			&:after {
				height: 100%;
				width: 100%;
				@include transition($transition);
				content: " ";
				display: inline-block;
				position: absolute;
				top: 0;
				left: 0;
				background-color: $white-smoke; /* FALLBACK */
				background-color: $whitesmoke-overlay;
				z-index: 2;
			}
		}
	}

	.details {
		@media #{$desk} {
			@include rem-attribute('padding-left', 0, true);
		}

		@include stripped-list;

		ul {
			@media #{$desk} {
				display: table;
				width: 100%;
			}
		}

		li {
			@include font-size(1);

			@media #{$desk} {
				display: table-cell;
				vertical-align: middle;
				@include rem-attribute('padding-right', .5)
			}
		}

		li.carrier {
			font-weight: bold;

			@media #{$desk} {
				width: 19%;
				font-weight: normal;
			}
		}

		li.method {
			@media #{$desk} {
				width: 41%;
				font-weight: bold;
			}
		}

		li.delivery-date {
			@media #{$desk} {
				width: 40%;
			}
		}
	}

	.price, .selection {
		@media #{$lap} {
			@include rem-attribute('padding-left', .5, true);
		}
	}

	.price {
		@media #{$lap} {
			@include font-size(1.875);
		}

		@media #{$desk} {
			padding-left: 0 !important;
		}

		text-align: right;
		font-weight: bold;
	}
}

.shipping-method {
	p {
		margin-left: 1em;

		@media #{$desk} {
			margin-left: 0;
		}
	}
}

.payment-option-list.btn_group {
	margin-bottom: 0;
}

.credit-card-list-container {
	@include rem-attribute('margin-top', 2)
}

/* Promo code styles */
.promo-code-container {
	@include font-size(.875);

	button {
		width: 100%;

		@media #{$desk} {
			width: auto;
		}
	}

	.remove-promo, .apply-promo {
		@include rem-attribute('margin-top', 1);

		@media #{$desk} {
			text-align: right;
			@include rem-attribute('margin-top', 0);
		}
	}
	/* Promo code entry form styles */
	> .promo-form {
		@include rem-attribute('margin-bottom', 2);

		input[type=text] {
			@include rem-attribute('height', 3);
			text-transform: uppercase;
		}
	}
}

.same-as-shipping > label { 
    display: inline-block;
    @include rem-attribute('margin-left', .5);
}




/* Shared credit card item & payment summary styles */
.credit-card-item, .billing-information {
	.card {
		.masked-number > span {
			font-weight: bold;
		}
	}
}

/* Credit card item styles */
.credit-card-item {
	@include stripped-list;

	input[type=radio]:checked + label.card {
		.type:after {
			background-color: transparent;
		}
	}

	label.card:hover .type:after {
		background-color: transparent;
	}

	input[type=radio]:disabled + label.card {
		.expiration {
			color: $red;
		}

		.type:after {
			background-color: $white-smoke; /* FALLBACK */
			background-color: $whitesmoke-overlay;
		}
	}

	.card {
		.button-item {
			@include rem-attribute('margin-bottom', 1);

			.btn.tertiary {
				float: left;
			}

			.btn.secondary, .expired-label {
				float: right;
			}

			.expired-label {
				text-transform: uppercase;
				font-weight: bold;
				color: $red;
			}
		}
	}
}

/* Credit Card Form */
#credit-card-form {
	&[data-mode=new] {
		.form-fields {
			> li.card-number_read_only {
				display: none;
			}
		}
	}

	.card-wallet {
		text-align: left;
		margin-bottom: 0;
		@include rem-attribute('margin-top', -.5);
		@include rem-attribute('margin-bottom', 1);

		.input, label {
			display: inline;
		}
	}

	.form-fields {
		> li.form-title {
			margin-bottom: 0;
		}

		.card-number_read_only {
			> .type:after {
				background-color: transparent;
			}
		}

		.card-number {
			position: relative;

			&.visa:after, &.mastercard:after, &.amex:after, &.americanexpress:after, &.discover:after {
				content: " ";
				display: inline-block;
				position: absolute;
				top: 1px;
				border-top-right-radius: $brand-round;
				right: 1px;
				z-index: 2;
				background: url("//media.hairdirect.com/store/images/creditcards.png") 0 0;
				background-repeat: no-repeat;
				background-size: auto 1em;
				width: 1.5em;
				height: 1em;
				overflow: hidden;
			}

			&.visa:after {
				background-position: 0 0;
			}

			&.mastercard:after {
				background-position: -1.5em 0;
			}

			&.amex:after, &.americanexpress:after {
				background-position: -3em 0;
			}

			&.discover:after {
				background-position: -4.5em 0;
			}
		}

		> li.buttons {
			@include rem-attribute('margin-bottom', .5);
		}
	}
}

/* CREDIT CARD ICONS */
.type {
	background: url("//media.hairdirect.com/store/images/creditcards.png") 0 0;
	background-repeat: no-repeat;
	background-size: auto 33px;
	display: block;
	width: 49px;
	height: 33px;
	overflow: hidden;
	position: relative;
	text-indent: 1000%;
	text-align: right !important;
	clear: left !important;

	&.visa {
		background-position: 0 0;
	}

	&.mastercard {
		background-position: -50px 0;
	}

	&.amex, &.americanexpress {
		background-position: -99px 0;
	}

	&.discover {
		background-position: -149px 0;
	}

	&.paypal {
		background-position: -199px 0;
	}

	&:after {
		height: 100%;
		width: 100%;
		@include transition($transition);
		content: " ";
		display: inline-block;
		position: absolute;
		top: 0;
		left: 0;
		background-color: $white-smoke; /* FALLBACK */
		background-color: $whitesmoke-overlay;
		z-index: 2;
	}
}

.paypal-container {
	margin-top: -1.5em;
	margin-bottom: 1em;
}

.card-number_read_only {
	.type {
		float: left;
		margin-right: 0.5em;
	}
}

// REVIEW STEP
.cart-total-container {
	border: 1px solid $gray19;
	border-radius: $brand-round;
	background-color: $white;
	@include stripped-list;
	@include box-shadow-light;

	.shopping-cart-container {
		@include clear-tap-style;

		.cart-items {
			@include clear-tap-style;
			width: 100%;

			.cart-item {
				position: relative;
				width: 100%;
				padding: .5em 0;
				border-bottom: 1px solid $gray19;

				@media #{$desk} {
					@include rem-attribute('max-height', 9.188);
				}

				&.sale > .grid > .grid__item.thumbnail > span:after {
					content: "Sale";
					text-transform: uppercase;
					font-weight: bold;
					text-align: center;
					background-color: $orange;
					background-color: $orange-overlay;
					display: block;
					color: $white;
					position: absolute;
					@include rem-attribute('font-size', .625);
					width: 100%;
					bottom: 0;
				}

				> .confirmation {
					position: absolute;
					width: 100%;
					z-index: 2;
					background-color: $white;
					text-align: center;
					height: 98%;
					@include rem-attribute('margin-top', -.375);

					> h4 {
						text-align: center;
						font-weight: bold;
					}

					button.btn {
						font-weight: normal;
						@include font-size(1);
						@include rem-attribute('min-width', 6);

						&.cancel {
							@include rem-attribute('margin-right', 1);
						}

						&.confirm {
							@include rem-attribute('margin-left', 1);
						}
					}
				}

				> .grid {
					margin: 0;
					z-index: 1;

					@media #{$desk} {
						display: table;
						width: 100%;
					}

					& > .grid__item {
						@media #{$desk} {
							display: table-cell;
							vertical-align: middle;
						}

						@include rem-attribute('padding-left', .5);

						&.thumbnail {
							> span {
								position: relative;

								> img {
									@include rem-attribute('max-height', 9);

									@media #{$desk} {
										@include rem-attribute('max-height', 8);
									}
								}
							}
						}
					}

					> .details > .grid {
						position: relative;

						> li {
							padding-left: 0;
							@include rem-attribute('margin-bottom', 1);

							&.description {
								> span {
									@include rem-attribute('min-height', 2.875);
									@include rem-attribute('padding-right', 3);

									@media #{$desk} {
										padding-right: 0;
										min-height: 0;
										padding-right: 0;
									}
								}
							}

							&.quantity {
								> input, button {
									display: inline-block;
									@include rem-attribute("height", 2);
									vertical-align: top;
									margin: 0px;
								}

								> input {
									width: 50%;
									padding: 0 0 0 .5em;
									border-top-right-radius: 0px;
									border-bottom-right-radius: 0px;

									&:focus {
										border-color: $gray20;
										border-width: 1px;
										padding-left: .5em;
										padding-top: inherit;
									}
								}

								> button {
									width: 46%;
									border-top-left-radius: 0px;
									border-bottom-left-radius: 0px;
									position: relative;
									right: 7px;
								}
							}

							&.unit-price {
								@include font-size(1);

								@media #{$desk} {
									position: relative;
									top: .25em;
								}
							}

							&.extended-price {
								text-align: right;
								padding-right: .5em;

								@media #{$lap} {
									@include font-size(1.5);
								}

								@media #{$desk} {
									text-align: right;
									display: block;
									float: right;
									right: 10%;
									top: 3px;
									position: relative;
									padding-right: 0;
								}

								font-weight: bold;
							}

							&.remove-item {
								position: absolute;
								top: 0%;
								right: 1%;
								@include rem-attribute('margin-right', .5);
								@include clear;

								@media #{$desk} {
									right: .5em;
									top: 45%;
								}
							}
						}
					}
				}
			}
		}
	}

	.total-container {
		padding: 1em;
		z-index: 1;
		@include clear-tap-style;

		> div.float--right {
			width: 100%;
			@include rem-attribute('max-width', 20);
		}

		@media #{$lap} {
			> div.float--right {
				width: 100%;
				@include rem-attribute('max-width', 24);
			}
		}

		dd {
			@include rem-attribute('margin-bottom', .4);

			&.exclude-tax {
				position: relative;
				@include rem-attribute('top', 2);
				@include small-label-text;

				strong {
					@include font-size(.875);
				}
			}

			&.subtotal, &.tax, &.total {
				@include rem-attribute('margin-right', 1.4);
			}
		}

		dt {
			&.split__title {
				@include rem-attribute('min-width', 5.7);
				text-align: right;

				@media #{$lap} {
					@include rem-attribute('min-width', 10);
				}
			}
		}

		.total {
			@include rem-attribute('padding-top', .5);
			@include border(top, $lineweight, $linetype, $medium-gray);
			@include font-size(1.4);
			font-weight: bold;

			@media #{$lap} {
				@include font-size(1.875);
			}
		}

		.round-button {
			z-index: 2;
			margin: .111em 0 .111em .222em;
		}
	}
}

// Review Checkout Selections
.selection-container {
	.top-content {
		@include rem-attribute('margin-bottom', 1);

		h4 {
			text-align: left;
			font-weight: bold;
			color: $gray12;
		}

		button {
			display: block;
			float: right;
		}
	}
	/* Shipping address selection styles */
	.shipping-address {
		.address {
			@include rem-attribute('line-height', 1.5);

			> .company, > .street, > .street-additional, > .country, > .phone {
				display: block;
			}
		}
	}
	/* Shipping option selection styles */
	.shipping-option {
		.details {
			padding-left: 0;
			text-align: left;
			@include font-size(.875);
			@include stripped-list;

			@media #{$lap} {
				@include font-size(1);
			}

			li {
				clear: both;

				span {
					display: block;

					&.label {
						width: 31%;
						text-align: right;
						float: left;

						@media #{$lap} {
							width: 20%;
						}
					}

					&.value {
						float: right;
						width: 69%;
						padding-left: .5em;

						@media #{$lap} {
							width: 80%;
						}
					}
				}
			}
		}

		.carrier-image {
			padding-left: 0;
			position: relative;
			vertical-align: top;
			@include rem-attribute('height', 3);

			span {
				display: inline-block;
				background-size: contain;
				background-repeat: no-repeat;
				@include rem-attribute('width', 2.5);
				@include rem-attribute('height', 2.5);

				&.ups {
					background-image: url('//media.hairdirect.com/store/images/ups-icon.svg');
				}

				&.usps {
					@include rem-attribute('margin-top', 1);
					background-image: url('//media.hairdirect.com/store/images/usps-icon.svg');
				}

				&.postnl {
					background-image: url('//media.hairdirect.com/store/images/postnl-icon.svg');
				}

				&.gls {
					@include rem-attribute('margin-top', 1.3);
					background-image: url('//media.hairdirect.com/store/images/gls-icon.svg');
				}
			}
		}

		.surepost {
			@include small-label-text;
			margin-top: 1em;
			color: $gray12;
			text-transform: uppercase;
			line-height: 1.5em;
			position: relative;
			top: 1em;
		}
	}
	/* Payment information styles */
	.billing-information {
		@include stripped-list;

		.type:after {
			content: "";
			display: none;
		}

		.address {
			@include rem-attribute('line-height', 1.5);

			.name, .company, .country, .phone {
				display: block;
			}
		}
	}
}

#vat-exclusion-form-modal {
	width: 100%;

	@media #{$lap} {
		width: auto;
	}

	.apply {
		width: 100%;

		@media #{$desk} {
			width: auto;
		}
	}

	.field {
		@include rem-attribute('margin-top', 1);
	}

	&.semantic-content {
		@media #{$lap} {
			height: auto !important;
		}
	}
}

/* Special Instructions */
.special-instructions-container {
	h3 {
		color: $gray12;
		@include rem-attribute('margin-top', 1);
	}

	label {
		@include small-label-text;
	}

	textarea {
		@include rem-attribute('padding-top', 1);

		&:focus {
			@include rem-attribute('padding-top', 1);
		}
	}
}

/* Modal */

.semantic-content {
	background-color: $white;

	@media #{$lap} {
		width: 85%;
		border-radius: $brand-round;
		@include rem-attribute('margin-top', 3);
		height: 85%;
		@include rem-attribute('max-height', 60);
		box-shadow: $modal-box-shadow;
		@include rem-attribute('max-width', 37.778);
	}

	> header {
		@include font-size(1);
		font-weight: bold;
		border-bottom: 1px solid $medium-gray;
		@include rem-attribute('padding', 1);
		position: relative;

		@media #{$lap} {
			@include font-size(1.5);
			font-weight: normal;
		}

		> .round-button {
			display: block;
			float: right;
			position: absolute;
			@include rem-attribute('top', .75);
			@include rem-attribute('right', 1);
		}
	}

	> .modal-inner {
		padding: 1em;
		color: $gray12;
		background-color: $white;

		@media #{$lap} {
			height: 89%;
			width: 99.9%;
			overflow-y: auto;
		}

		> .modal-content {
			h1 {
				@extend .h2;
				text-align: left !important;
				color: $gray12 !important;
				font-size: 2em !important;
				padding: 0;
				margin-top: 0 !important;
			}

			h2 {
				@extend .h3;
				text-align: left !important;
				color: $gray12 !important;
				font-size: 1.5em !important;
				padding: 0 !important;
			}

			h3 {
				@extend .h4;
				text-align: left !important;
				font-size: 1em !important;
				font-weight: bold !important;
				padding: 0 !important;
			}
		}
	}
}

/* Modal Overrides */

#cancel-order-modal, #promo-discount-help-modal, #shipping-option-help-modal, #store-changer-modal, #call-us-modal, #vat-exclusion-form-modal {
	&.semantic-content {
		/* Make sure that mobile height fills the screen when the content wouldn't. */
		height: 100%;
	}
}

#cancel-order-modal, #promo-discount-help-modal, #shipping-option-help-modal, #call-us-modal {
	&.semantic-content {
		@media #{$lap} {
			@include rem-attribute('height', 14);
		}

		> .modal-inner {
			@media #{$lap} {
				height: auto;
			}
		}
	}
}

#cancel-order-modal.semantic-content {
	> .modal-inner {
		> .modal-content {
			h3 {
				text-align: center !important;
			}

			ul {
				li:first-child {
					text-align: right;
				}

				li:last-child {
					text-align: left;
				}

				button {
					@include rem-attribute('width', 6);
				}
			}
		}
	}
}

#store-changer-modal.semantic-content {
	@media #{$lap} {
		height: 85%;
	}

	> .modal-inner {
		@include rem-attribute('margin-bottom', 1);

		&.store-changer > .modal-content {
			.flags {
				text-align: center;
				@include rem-attribute('padding-top', 1);
				@include rem-attribute('padding-bottom', 2);

				#fromStore {
					position: relative;

					&:after {
						content: " ";
						display: block;
						position: absolute;
						height: 100%;
						width: 100%;
						background-color: $white;
						opacity: .75;
					}
				}

				.flag {
					@include rem-attribute('margin-left', 1);
					@include rem-attribute('margin-right', 1);

					@include rem-attribute('height', 4.125);
					@include rem-attribute('width', 6.188);

					@media #{$lap} {
						@include rem-attribute('height', 5.5); //99
						@include rem-attribute('width', 8.25);
					}

					display: inline-block;

					&.us {
						background: url(//media.hairdirect.com/store/images/us-flag.svg) no-repeat;
					}

					&.uk {
						background: url(//media.hairdirect.com/store/images/uk-flag.svg) no-repeat;
					}

					&.eu {
						background: url(//media.hairdirect.com/store/images/eu-flag.svg) no-repeat;
					}
				}

				.arrow {
					display: inline-block;
					border-top: 8px solid $transparent;
					border-bottom: 8px solid $transparent;
					border-left: 8px solid $gray8;
				}
			}

			.explanation {
				font-weight: bold;
			}

			.learn-more {
				text-align: center;

				> span {
					cursor: pointer;
					color: $blue1;
					font-weight: bold;
					@include rem-attribute('font-size', 1);
				}
			}
		}

		&.store-change-outcome {
			padding-left: 0;
			padding-right: 0;
			padding-top: 0;

			> .modal-content {
				@include stripped-list;

				.cart-items {
					.cart-item {
						border-bottom: 1px solid $medium-gray;
						@include rem-attribute('padding-top', 1);
						@include rem-attribute('padding-bottom', 1);
						@include rem-attribute('padding-left', 1, true);
						@include rem-attribute('padding-right', 1, true);

						&.removed {
							.details > span.message {
								color: $medium-red;
							}
						}

						.image {
							padding-left: 0;

							& > img {
								vertical-align: middle;
								@include rem-attribute('min-width', 8);
							}
						}

						.details {
							@media #{$lap} {
								padding-left: 0;
							}

							> span {
								display: block;
							}

							> span.description {
								@include rem-attribute('margin-bottom', .25);
							}

							> span.message {
								@include rem-attribute('margin-top', 1);
								color: $blue1;
								font-weight: bold;
							}
						}
					}
				}
			}
		}

		.buttons {
			@include rem-attribute('margin-top', 2.5);
			@include rem-attribute('padding-left', 1);
			@include rem-attribute('padding-right', 1);

			> div {
				@include rem-attribute('margin-bottom', 1);
			}
		}
	}
}

/* ORDER CONFIRMATION */
.order-confirmation {
	@include rem-attribute('min-height', 25);

	> .card {
		color: $gray12;
		margin-top: .5em;

		> h3 {
			color: $blue1;
			font-weight: bold;
			@include rem-attribute('margin-top', 1);
		}

		> div {
			@include rem-attribute('margin-bottom', 2);

			> p {
				@include rem-attribute('margin-bottom', .5);
			}
		}


		> button.btn--positive {
			@include rem-attribute('margin-bottom', 1);

			@media #{$palm} {
				@include font-size(1);
			}
		}
	}
}

/* Feature Detection */

/* NO SVG */
.no-svg {
	#store-changer-modal.semantic-content > .modal-inner.store-changer > .modal-content {
		.flags .flag {
			&.us {
				background: url(//media.hairdirect.com/store/images/us-flag.png) no-repeat;
			}

			&.uk {
				background: url(//media.hairdirect.com/store/images/uk-flag.png) no-repeat;
			}

			&.eu {
				background: url(//media.hairdirect.com/store/images/eu-flag.png) no-repeat;
			}
		}
	}
}
