$formfieldheight: 3.25;

form {
	display: block;
}

input[type=text], input[type=tel], input[type=number], select {
	@include rem-height($formfieldheight);
}

input[type=text] + label, input[type=tel] + label, input[type=number] + label, textarea + label, select + label {
	position: absolute;
	@include font(1,300,3);
	z-index: 99;
	color: $gray21;
	padding: 0 1rem;
	margin-top: -3.5em;
	letter-spacing: 0;
}

input[type=text], input[type=tel], input[type=number], textarea, select {
	width: 100%;
	border: 1px solid $gray20;
	border-radius: $brand-round;
	position: relative;
	top: 0;
	left: 0;
	z-index: 1;
	padding: 1em 1em 0;
	color: $gray12;
	background-color: $white;
	outline: 0;

	&.nolabel {
		padding-top: 0;
	}

	& + label {
		color: $gray22;
	}

	&:focus {
		padding-left: .944em;
		padding-top: .944em;
		border-width: 2px;
		border-color: $blue3 !important;

		& + label {
			@extend %textinputlabel;
		}
	}

	&.required {
		border-color: $gray23;

		& + label {
			color: $gray21;

			&:after {
				@extend .required_indicator;
			}
		}

		&.complete {
			& + label {
				&:after {
					@extend .required_indicator;
					color: $gray21 !important;
				}
			}
		}
	}

	&.error {
		border-color: $red !important;

		& + label {
			font-weight: bold;
			color: $red !important;
		}
	}
}

// make the active label style stick when there is content in the field
%textinputlabel {
	padding: 0 1rem;
	@include font(0.6, 500, 1);
	height: 1rem;
	text-transform: uppercase;
	margin-top: -3rem;
	letter-spacing: 1px !important;
	pointer-events: none;
}

label.notempty {
	@extend %textinputlabel;
	@include font-size(0.6, important);
	line-height: 1rem !important;
	margin-top: -3rem !important;
	font-weight: 500 !important;
}


textarea {
	// Standard size is 2x the standard text field height
	@include rem-height($formfieldheight * 2, important);
	@include line-height(1.5);
	display: block;
	resize: none;
	padding-top: 1.5rem;

	& + label {
		margin-top: -6.5rem;
	}

	& + label.notempty {
		margin-top: -6.2rem !important;
	}

	&:focus {
		@include rem-attribute('padding-top', 1.438);

		& + label {
			margin-top: -6.2rem;
		}
	}
}
/********************************

RADIO BUTTON CARD STYLE

*********************************/
input[type=radio] {
	display: none;

	& + label.card {
		@extend .card;
	}
}

.card.selected {
	&:before {
		@include font-size(2);
		@include line-height(1);
		text-align: center;
		display: block;
	}

	&.label {
		div:first-of-type:after {
			position: relative;
			display: block;
			float: right;
			margin-top: -.7em;
			margin-right: 1em;
		}
	}
}
/********************************

DROP DOWN

*********************************/
select {
	-webkit-appearance: none;
	-moz-appearance: none;
}

.dropdownlabel {
	text-align: left;
}

/********************************

OTHER STYLES

*********************************/
.required_indicator:after {
	@include pseudo(auto, auto, "*");
	color: $red;
	margin-left: 2px;
	margin-top: 4px;
	font-weight: bold;
	float: right;
	@include font-size(1.4);
}

.required-field-message {
	@include font(.6, bold);
	text-transform: uppercase;
	color: $red;
	text-align: right;
	@extend .required_indicator;
	text-shadow: 0px 1px 0px $gray19;
}

/********************************

VALIDATION

*********************************/
.error-container {
	padding-left: 1.34em;

	.card {
		@include rem-attribute('margin-top', 2);
		border: 1px solid $medium-red;
		background-image: none;
		background-color: $red;
		color: $dark-red;

		@media #{$desk} {
			margin-top: 0;
		}

		h3.message {
			margin-top: 0;
		}

		.details {
			@include font-size(1);
			font-weight: bold;
			@include rem-attribute('margin-bottom', .5);
		}

		ul {
			list-style-type: none;
			@include font-size(1);
			@include rem-attribute('margin-left', 1);

			li {
				list-style-type: none;
				color: $white;
				@include line-height(1.25);
				font-weight: 300;
			}
		}
	}
}

input.error, textarea.error {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

input ~ .error, label ~ .error {
	display: block;
	clear: both;
	background: $red;
	color: $white;
	padding: .5em;
	@include font-size(.875);
	font-weight: bold;
	border-bottom-left-radius: $brand-round;
	border-bottom-right-radius: $brand-round;
	@include border(all, $lineweight, $linetype, $red);
	border-top-width: 0px;
	text-align: left;
}
