.heading {
	margin-top: 1em;
	padding: 0;
	text-align: center;

	@media #{$desk} {
		text-align: left;
	}
}

h1, .h1 {
	@include font(3, 500);
	@extend .heading;

	@media #{$lap} {
		@include font(3);
	}

	@media #{$desk} {
		@include font(4, 100, 4);
	}
}

h2, .h2 {
	color: $blue1;
	@include font(1.875, bold, 2);
	
	@extend .heading;

	@media #{$desk} {
		text-align: left;
		@include font(3.125, normal)
	}
}

h3, .h3 {
	@include font(1.5, 300);
	@extend .heading;

	@media #{$lap} {
		@include font(1.5, 100);
	}

	@media #{$desk} {
		@include font(2, 300)
	}
}

h4, .h4 {
	@include font(1, 500);
	@extend .heading;

	@media #{$lap} {
		@include font(1.25, 500);
	}

	@media #{$desk} {
		@include font(1.5, 300)
	}
}


body {
	@include font(1.125, 1.250, 1.15);
}
