.btn, .cta, button {
	@include taptarget();
	background-color: $light;
	height: 2em;
	@inlcude transition;
	margin: 0;

	@include font(1, 500, 2, true);

	&.small {
		@include taptarget(-2);
		@include line-height(2, true);
	}

	@media #{$lap} {
		font-weight: 300;
	}
}

.primary {
	background-color: $green;
	color: $lightest;
	@include font-size(1.5);
	@include transition($transition);

	@media #{$desk} {
		@include font-size(2);
	}

	&:hover, &:focus {
		background-color: lighten($green, 10%);
	}

	&:active {
		background-color: darken($green, 10%);
	}

	&.small {
		@include font-size(1);
	}
}

.btn.active {
	background-color: $green;
	color: $lightest;
	@include transition($transition);

	&:hover, &:focus {
		background-color: lighten($green, 10%);
	}

	&:active {
		background-color: darken($green, 10%);
	}

	&.small {
		@include font-size(1);
	}
}

.secondary {
	background-color: $light;
	color: $darker;
	font-weight: 500;
	@include transition($transition);

	&:hover, &:focus {
		background-color: $lighter;
	}
}

.tertiary {
	font-weight: bold;
	font-size: 12px;
	border: 1px solid #b2b2b2;
	border-radius: 4px;
	background-color: $white;
	color: #7c7c7c;
	@include transition($transition);


	&:hover, &:focus, &:active {
		border-color: #afafaf;
	}

	&:hover, &:focus {
		background-color: #eee;
	}

	&:active {
		background-color: #d5d5d5;
	}
}

.add {
	&:before {
		@include pseudo(1.2em, 2em, "+");
		text-align: center;
		font-size: 1.25em;
		font-weight: 300;
	}
}

.remove {
	@extend .background-error;
	@include transition($transition);
	padding-left: 0.25em;

	@media #{$lap} {
		padding-left: .75em;
	}

	&:before {
		@include pseudo(1.2em, 2em, "\2715");
		text-align: left;
		font-size: 1em;
		font-weight: 300;
	}

	&:hover {
		background-color: $red;
		color: $lightest;
	}
}


button:disabled, .disabled {
	background: none;
	color: darken($light, 10%);
	border: 1px solid darken($light, 10%) !important;
	@include transition($transition);

	&:hover, &:focus {
		background: none !important;
	}
}


.btn_group {
	margin-bottom: 2em;

	.btn_group_item {
		border-radius: 0;

		&:first-of-type {
			border-top-left-radius: $brand-round;
			border-bottom-left-radius: $brand-round;
		}

		&:last-of-type {
			border-top-right-radius: $brand-round;
			border-bottom-right-radius: $brand-round;
		}
	}

	input[type=radio]:checked + label {
		&.btn_group_item {
			background-color: $light-green !important;
		}
	}
}


.card {
	overflow: hidden;
	padding: 1em;
	margin-bottom: 1em;
	border: 1px solid rgb(202, 202, 202);
	border-radius: 6px;
	background-image: -moz-linear-gradient( 90deg, rgb(250,250,250) 0%, rgb(255,255,255) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(250,250,250) 0%, rgb(255,255,255) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(250,250,250) 0%, rgb(255,255,255) 100%);
	box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.04);

	@media #{$desk} {
		margin-bottom: 2em;
	}

	&:active {
		border-color: rgb(232, 232, 232);
		background-image: -moz-linear-gradient( 90deg, rgb(255,255,255) 0%, rgb(250,250,250) 100%);
		background-image: -webkit-linear-gradient( 90deg, rgb(255,255,255) 0%, rgb(250,250,250) 100%);
		background-image: -ms-linear-gradient( 90deg, rgb(255,255,255) 0%, rgb(250,250,250) 100%);
	}

	&:hover {
		border-color: rgb(232, 232, 232);
	}
}

.no-touch .card {
	@include transition($transition);
}

.card.success {
}

.background-success {
	background-color: $lighter-green;
}

.background-info {
	background-color: $lighter-yellow;
}

.background-error {
	background-color: $lighter-red;
}

.text-success {
	color: $dark-green;
}

.text-info {
	color: $dark-yellow;
}

.text-error {
	color: $red;
}

.success, .success > * {
	@extend .background-success;
	@extend .text-success;
}

.info, .info > * {
	@extend .background-info;
	@extend .text-info;
}

.error, .error > * {
	@extend .background-error;
	@extend .text-error;
}


.loading-panel {
	width: 200px;
	height: 100px;
	padding-top: 20px;
	margin: 0 auto;
	text-align: center;

	p {
		display: block;
		clear: both;
		margin: 2em auto 4em;
		text-align: center;
		-webkit-animation: grey 2s infinite ease-in-out;
		-moz-animation: grey 2s infinite ease-in-out;
		animation: grey 2s infinite ease-in-out;
	}
}

.ball {
	display: block;
	float: left;
	width: 10px;
	height: 10px;
	margin: 10px 5px 40px;
	border-radius: 50px;
}

.ball:nth-child(1) {
	background: $light-blue;
	-webkit-animation: right 1s infinite ease-in-out, blue 4s infinite ease-in-out;
	-moz-animation: right 1s infinite ease-in-out, blue 4s infinite ease-in-out;
	animation: right 1s infinite ease-in-out, blue 4s infinite ease-in-out;
	margin-left: 25px;
}

.ball:nth-child(2) {
	background: $dark-blue;
	-webkit-animation: right 1.05s infinite ease-in-out, blue 4s infinite ease-in-out;
	-moz-animation: right 1s infinite ease-in-out, blue 4s infinite ease-in-out;
	animation: right 1s infinite ease-in-out, blue 4s infinite ease-in-out;
}

.ball:nth-child(3) {
	background: $light-blue-light;
	-webkit-animation: right 1.15s infinite ease-in-out, blue 3s infinite ease-in-out;
	-moz-animation: right 1s infinite ease-in-out, blue 3s infinite ease-in-out;
	animation: right 1s infinite ease-in-out, blue 3s infinite ease-in-out;
}

.ball:nth-child(4) {
	background: $dark-blue-light;
	-webkit-animation: right 1s infinite ease-in-out, blue 4s infinite ease-in-out;
	-moz-animation: right 1s infinite ease-in-out, blue 4s infinite ease-in-out;
	animation: right 1s infinite ease-in-out, blue 4s infinite ease-in-out;
}

.ball:nth-child(5) {
	background: $light-blue-lighter;
	-webkit-animation: right 1.15s infinite ease-in-out, blue 5s infinite ease-in-out;
	-moz-animation: right 1s infinite ease-in-out, blue 5s infinite ease-in-out;
	animation: right 1s infinite ease-in-out, blue 5s infinite ease-in-out;
}

.ball:nth-child(6) {
	background: $green;
	-webkit-animation: right 1.05s infinite ease-in-out, blue 4s infinite ease-in-out;
	-moz-animation: right 1.05s infinite ease-in-out, blue 4s infinite ease-in-out;
	animation: right 1.05s infinite ease-in-out, blue 4s infinite ease-in-out;
}

.ball:nth-child(7) {
	background: $light-blue;
	-webkit-animation: right 1s infinite ease-in-out, blue 4s infinite ease-in-out;
	-moz-animation: right 1s infinite ease-in-out, blue 4s infinite ease-in-out;
	animation: right 1s infinite ease-in-out, blue 4s infinite ease-in-out;
}


@-webkit-keyframes right {
	0% {
		-webkit-transform: translateY(-15px);
	}

	50% {
		-webkit-transform: translateY(15px);
	}

	100% {
		-webkit-transform: translateY(-15px);
	}
}

@-webkit-keyframes left {
	0% {
		-webkit-transform: translateY(15px);
	}

	50% {
		-webkit-transform: translateY(-15px);
	}

	100% {
		-webkit-transform: translateY(15px);
	}
}

@-webkit-keyframes blue {
	0% {
		background: $light-blue;
	}

	25% {
		background: $dark-blue;
	}

	50% {
		background: $green;
	}

	75% {
		background: $light-green;
	}

	100% {
		background: $light-blue;
	}
}

@-webkit-keyframes grey {
	0% {
		color: $dark;
	}

	50% {
		color: $lighter;
	}

	100% {
		color: $dark;
	}
}

@-moz-keyframes right {
	0% {
		-moz-transform: translateY(-15px);
	}

	50% {
		-moz-transform: translateY(15px);
	}

	100% {
		-moz-transform: translateY(-15px);
	}
}

@-moz-keyframes left {
	0% {
		-moz-transform: translateY(15px);
	}

	50% {
		-moz-transform: translateY(-15px);
	}

	100% {
		-moz-transform: translateY(15px);
	}
}

@-moz-keyframes blue {
	0% {
		background: $light-blue;
	}

	25% {
		background: $dark-blue;
	}

	50% {
		background: $green;
	}

	75% {
		background: $red;
	}

	100% {
		background: $light-blue;
	}
}

@-moz-keyframes grey {
	0% {
		color: $dark;
	}

	50% {
		color: $lighter;
	}

	100% {
		color: $dark;
	}
}

@keyframes right {
	0% {
		transform: translateY(-15px);
	}

	50% {
		transform: translateY(15px);
	}

	100% {
		transform: translateY(-15px);
	}
}

@keyframes left {
	0% {
		transform: translateY(15px);
	}

	50% {
		transform: translateY(-15px);
	}

	100% {
		transform: translateY(15px);
	}
}

@keyframes blue {
	0% {
		background: $light-blue;
	}

	25% {
		background: $dark-blue;
	}

	50% {
		background: $green;
	}

	75% {
		background: $red;
	}

	100% {
		background: $light-blue;
	}
}

@keyframes grey {
	0% {
		color: $dark;
	}

	50% {
		color: $lighter;
	}

	100% {
		color: $dark;
	}
}
