.btn, .cta, button {
	@include taptarget();
	background-color: $light;
	height: 2em;
	@include transition($transition);
	margin: 0;

	@include font(1, 500, 2.2, true);

	&.small {
		@include taptarget(-2);
		@include line-height(2, true);
	}

	@media #{$lap} {
		font-weight: 300;
	}
}

.btn.active {
	background-color: $green;
	color: $lightest;
	@include transition($transition);

	&:hover, &:focus {
		background-color: lighten($green, 10%);
	}

	&:active {
		background-color: darken($green, 10%);
	}

	&.small {
		@include font-size(1);
	}
}

.tertiary {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 12px;
	border: 1px solid #b2b2b2;
	border-radius: 4px;
	background-color: $white;
	color: #7c7c7c;
	@include transition($transition);

	&:hover, &:focus, &:active {
		border-color: #afafaf;
	}

	&:hover, &:focus {
		background-color: #eee;
	}

	&:active {
		background-color: #d5d5d5;
	}
}

.tertiary-hover {
	background-color: #eee;
}

.add {
	&:before {
		@include pseudo(1.2em, 2em, "+");
		text-align: center;
		font-size: 1.25em;
		font-weight: 300;
	}
}

.remove {
	@include transition($transition);
	padding-left: 0.25em;

	@media #{$lap} {
		padding-left: .75em;
	}

	&:before {
		@include pseudo(1.2em, 2em, "\2715");
		text-align: left;
		font-size: 1em;
		font-weight: 300;
	}

	&:hover {
		background-color: $red;
		color: $lightest;
	}
}


button:disabled, .disabled {
	background: none;
	color: darken($light, 10%);
	border: 1px solid darken($light, 10%) !important;
	@include transition($transition);

	&:hover, &:focus {
		background: none !important;
	}
}


.btn_group {
	@include rem-attribute('margin-bottom', 1);

	input[type=radio] + label {
		&.btn_group_item {
			text-align: center;
			@extend .btn--secondary;
			@extend .btn--beta;
			border-radius: 0 !important;
			@include transition(none);

			&:first-of-type {
				border-top-left-radius: $brand-round !important;
				border-bottom-left-radius: $brand-round !important;
			}

			&:last-of-type {
				border-top-right-radius: $brand-round !important;
				border-bottom-right-radius: $brand-round !important;
			}
		}
	}

	input[type=radio]:checked + label {
		&.btn_group_item {
			@extend .btn--alpha;

			&:hover, &:focus, &:active {
				@include transition(none);
				@include alpha-background;
			}
		}
	}
}

.round-button {
	width: 2em;
	height: 2em;
	border-radius: $circle;
	border: 1px solid #b2b2b2;
	background-color: $white;
	position: relative;
	cursor: pointer;
	transition: none;

	svg {
		height: 100%;
		width: 100%;

		path {
			transition: none;
			fill: #7c7c7c;
		}
	}

	&:hover {
		transition: none;
		background-color: #5088ba;
		border-color: #5088ba;

		svg {
			path {
				fill: $white;
			}
		}
	}
	/* Size overrides */
	&.small {
		width: 1em;
		height: 1em;

		svg {
			position: relative;
			bottom: 2px;
		}
	}
	/* Negative overrides */
	&.negative {
		border-color: #cecece;

		&:hover {
			background-color: $red;
			border-color: $medium-red;

			svg {
				path {
					fill: $white;
				}
			}
		}

		svg {
			path {
				fill: #cecece;
			}
		}
	}
}

.card {
	overflow: hidden;
	padding: 1em;
	margin-bottom: 1em;
	border: 1px solid #cacaca;
	border-radius: $brand-round;
	background-image: -moz-linear-gradient( 90deg, $white-smoke 0%, $white 100%);
	background-image: -webkit-linear-gradient( 90deg, $white-smoke 0%, $white 100%);
	background-image: -ms-linear-gradient( 90deg, $white-smoke 0%, $white 100%);
	@include box-shadow-light;
	color: #7c7c7c;

	&.info {
		background-image: none;
		background-color: $yellow;
		border-bottom-color: $dark-yellow;
		color: #282828;
		@include font-size(1);

		> p {
			margin-bottom: 0;
		}
	}
}

.no-touch .card {
	@include transition($transition);
}

.text-success {
	color: $dark-green;
}

.text-info {
	color: $dark-yellow;
}

.text-error {
	color: $red;
}

.error, .error > * {
	@extend .text-error;
}


.loading-panel {
	width: 200px;
	height: 100px;
	padding-top: 20px;
	margin: 0 auto;
	text-align: center;

	p {
		display: block;
		clear: both;
		margin: 2em auto 4em;
		text-align: center;
		-webkit-animation: grey 2s infinite ease-in-out;
		-moz-animation: grey 2s infinite ease-in-out;
		animation: grey 2s infinite ease-in-out;
	}
}

.ball {
	display: block;
	float: left;
	width: 10px;
	height: 10px;
	margin: 10px 5px 40px;
	border-radius: 50px;
}

.ball:nth-child(1) {
	background: $light-blue;
	-webkit-animation: right 1s infinite ease-in-out, blue 4s infinite ease-in-out;
	-moz-animation: right 1s infinite ease-in-out, blue 4s infinite ease-in-out;
	animation: right 1s infinite ease-in-out, blue 4s infinite ease-in-out;
	margin-left: 25px;
}

.ball:nth-child(2) {
	background: $dark-blue;
	-webkit-animation: right 1.05s infinite ease-in-out, blue 4s infinite ease-in-out;
	-moz-animation: right 1s infinite ease-in-out, blue 4s infinite ease-in-out;
	animation: right 1s infinite ease-in-out, blue 4s infinite ease-in-out;
}

.ball:nth-child(3) {
	background: $light-blue-light;
	-webkit-animation: right 1.15s infinite ease-in-out, blue 3s infinite ease-in-out;
	-moz-animation: right 1s infinite ease-in-out, blue 3s infinite ease-in-out;
	animation: right 1s infinite ease-in-out, blue 3s infinite ease-in-out;
}

.ball:nth-child(4) {
	background: $dark-blue-light;
	-webkit-animation: right 1s infinite ease-in-out, blue 4s infinite ease-in-out;
	-moz-animation: right 1s infinite ease-in-out, blue 4s infinite ease-in-out;
	animation: right 1s infinite ease-in-out, blue 4s infinite ease-in-out;
}

.ball:nth-child(5) {
	background: $light-blue-lighter;
	-webkit-animation: right 1.15s infinite ease-in-out, blue 5s infinite ease-in-out;
	-moz-animation: right 1s infinite ease-in-out, blue 5s infinite ease-in-out;
	animation: right 1s infinite ease-in-out, blue 5s infinite ease-in-out;
}

.ball:nth-child(6) {
	background: $green;
	-webkit-animation: right 1.05s infinite ease-in-out, blue 4s infinite ease-in-out;
	-moz-animation: right 1.05s infinite ease-in-out, blue 4s infinite ease-in-out;
	animation: right 1.05s infinite ease-in-out, blue 4s infinite ease-in-out;
}

.ball:nth-child(7) {
	background: $light-blue;
	-webkit-animation: right 1s infinite ease-in-out, blue 4s infinite ease-in-out;
	-moz-animation: right 1s infinite ease-in-out, blue 4s infinite ease-in-out;
	animation: right 1s infinite ease-in-out, blue 4s infinite ease-in-out;
}


@-webkit-keyframes right {
	0% {
		-webkit-transform: translateY(-15px);
	}

	50% {
		-webkit-transform: translateY(15px);
	}

	100% {
		-webkit-transform: translateY(-15px);
	}
}

@-webkit-keyframes left {
	0% {
		-webkit-transform: translateY(15px);
	}

	50% {
		-webkit-transform: translateY(-15px);
	}

	100% {
		-webkit-transform: translateY(15px);
	}
}

@-webkit-keyframes blue {
	0% {
		background: $light-blue;
	}

	25% {
		background: $dark-blue;
	}

	50% {
		background: $green;
	}

	75% {
		background: $light-green;
	}

	100% {
		background: $light-blue;
	}
}

@-webkit-keyframes grey {
	0% {
		color: $dark;
	}

	50% {
		color: $lighter;
	}

	100% {
		color: $dark;
	}
}

@-moz-keyframes right {
	0% {
		-moz-transform: translateY(-15px);
	}

	50% {
		-moz-transform: translateY(15px);
	}

	100% {
		-moz-transform: translateY(-15px);
	}
}

@-moz-keyframes left {
	0% {
		-moz-transform: translateY(15px);
	}

	50% {
		-moz-transform: translateY(-15px);
	}

	100% {
		-moz-transform: translateY(15px);
	}
}

@-moz-keyframes blue {
	0% {
		background: $light-blue;
	}

	25% {
		background: $dark-blue;
	}

	50% {
		background: $green;
	}

	75% {
		background: $red;
	}

	100% {
		background: $light-blue;
	}
}

@-moz-keyframes grey {
	0% {
		color: $dark;
	}

	50% {
		color: $lighter;
	}

	100% {
		color: $dark;
	}
}

@keyframes right {
	0% {
		transform: translateY(-15px);
	}

	50% {
		transform: translateY(15px);
	}

	100% {
		transform: translateY(-15px);
	}
}

@keyframes left {
	0% {
		transform: translateY(15px);
	}

	50% {
		transform: translateY(-15px);
	}

	100% {
		transform: translateY(15px);
	}
}

@keyframes blue {
	0% {
		background: $light-blue;
	}

	25% {
		background: $dark-blue;
	}

	50% {
		background: $green;
	}

	75% {
		background: $red;
	}

	100% {
		background: $light-blue;
	}
}

@keyframes grey {
	0% {
		color: $dark;
	}

	50% {
		color: $lighter;
	}

	100% {
		color: $dark;
	}
}
