/**
 * Positive actions; e.g. sign in, purchase, submit, etc.
 */
.btn--positive, button.btn--positive {
	border: 1px solid $green;
	border-radius: 6px;
	background-image: -moz-linear-gradient( 90deg, $lighter-green 0%, $light-green 100%);
	background-image: -webkit-linear-gradient( 90deg, $lighter-green 0%, $light-green 100%);
	background-image: -ms-linear-gradient( 90deg, $lighter-green 0%, $light-green 100%);
	@include font-size(1.3);
	font-weight: bold !important;
	text-shadow: $text-shadow-dark;
	color: $lightest;

	&:hover, &:focus {
		border-color: #68ac1f;
		background-image: -moz-linear-gradient( 90deg, #61b621 0%, #7bca25 100%);
		background-image: -webkit-linear-gradient( 90deg, #61b621 0%, #7bca25 100%);
		background-image: -ms-linear-gradient( 90deg, #61b621 0%, #7bca25 100%);
	}

	&:active {
		background-image: -moz-linear-gradient( 90deg, $light-green 0%, $lighter-green 100%);
		background-image: -webkit-linear-gradient( 90deg, $light-green 0%, $lighter-green 100%);
		background-image: -ms-linear-gradient( 90deg, $light-green 0%, $lighter-green 100%);
	}
}

.btn--secondary, .btn.btn--secondary {
	border-style: solid;
	border-width: 1px;
	border-radius: 4px;
	@include font-size(1.1);
	font-weight: bold;
}

.btn--alpha {
	color: $white;
	text-shadow: $text-shadow-dark;
	border-color: $nav-blue;
	background-image: -moz-linear-gradient( 90deg, #4d83b6 0%, #6aabd7 100%);
	background-image: -webkit-linear-gradient( 90deg, #4d83b6 0%, #6aabd7 100%);
	background-image: -ms-linear-gradient( 90deg, #4d83b6 0%, #6aabd7 100%);

	&:hover, &:focus {
		background-image: -moz-linear-gradient( 90deg, #5591ca 0%, #71b7e6 100%);
		background-image: -webkit-linear-gradient( 90deg, #5591ca 0%, #71b7e6 100%);
		background-image: -ms-linear-gradient( 90deg, #5591ca 0%, #71b7e6 100%);
	}

	&:active {
		background-image: -moz-linear-gradient( 90deg, #6aabd7 0%, #4d83b6 100%);
		background-image: -webkit-linear-gradient( 90deg, #6aabd7 0%, #4d83b6 100%);
		background-image: -ms-linear-gradient( 90deg, #6aabd7 0%, #4d83b6 100%);
	}
}

.btn--beta {
	color: #515151;
	text-shadow: $text-shadow-white;
	border-color: #cdcdcd;
	background-image: -moz-linear-gradient( 90deg, #f1f1f1 0%, $white 100%);
	background-image: -webkit-linear-gradient( 90deg, #f1f1f1 0%, $white 100%);
	background-image: -ms-linear-gradient( 90deg, #f1f1f1 0%, $white 100%);

	&:hover, &:focus {
		background-image: -moz-linear-gradient( 90deg, #f8f8f8 0%, $white 100%);
		background-image: -webkit-linear-gradient( 90deg, #f8f8f8 0%, $white 100%);
		background-image: -ms-linear-gradient( 90deg, #f8f8f8 0%, $white 100%);
	}

	&:active {
		background-image: -moz-linear-gradient( 90deg, $white 0%, #f1f1f1 100%);
		background-image: -webkit-linear-gradient( 90deg, $white 0%, #f1f1f1 100%);
		background-image: -ms-linear-gradient( 90deg, $white 0%, #f1f1f1 100%);
	}
}

.btn--gamma {
	color: $white;
	text-shadow: $text-shadow-dark;
	border-color: #808285 !important;
	border-radius: 6px;
	background-image: -moz-linear-gradient( 90deg, #a2a2a2 0%, #ababab 100%);
	background-image: -webkit-linear-gradient( 90deg, #a2a2a2 0%, #ababab 100%);
	background-image: -ms-linear-gradient( 90deg, #a2a2a2 0%, #ababab 100%);

	&:hover, &:focus {
		background-image: -moz-linear-gradient( 90deg, #b2b2b2 0%, #c2c2c2 100%);
		background-image: -webkit-linear-gradient( 90deg,#b2b2b2 0%, #c2c2c2 100%);
		background-image: -ms-linear-gradient( 90deg, #b2b2b2 0%, #c2c2c2 100%);
	}

	&:active {
		background-image: -moz-linear-gradient( 90deg, #ababab 0%, #a2a2a2 100%);
		background-image: -webkit-linear-gradient( 90deg, #ababab 0%, #a2a2a2 100%);
		background-image: -ms-linear-gradient( 90deg, #ababab 0%, #a2a2a2 100%);
	}
}
