.btn--positive, button.btn--positive {
	border: 1px solid $green;
	border-radius: $brand-round;
	@include gradient-background($lighter-green, $light-green);
	@include font-size(1.250);
	font-weight: bold !important;
	text-shadow: $text-shadow-dark;
	color: $white;

	&:hover, &:focus {
		border-color: $green1;
		@include gradient-background($green2, $green3);
	}

	&:active {
		@include gradient-background($light-green, $lighter-green);
	}
}

.btn--secondary, .btn.btn--secondary {
	border-style: solid;
	border-width: 1px;
	border-radius: 4px;
	@include font-size(1.125);
	font-weight: bold;
}

.btn--alpha, .btn--beta, .btn--gamma {
	font-size: inherit;

	&:disabled {
		border-color: $gray1;
		@include gradient-background($white-smoke, $white);
		color: $gray2;
		text-shadow: $text-shadow-white;
	}
}

.btn--alpha {
	color: $white;
	text-shadow: $text-shadow-dark;
	border-color: $nav-blue;
	@include alpha-background(true, true);
}

.btn--beta {
	color: $gray3;
	text-shadow: $text-shadow-white;
	border-color: $gray4;
	@include gradient-background($gray5, $white);

	&:hover, &:focus {
		@include gradient-background($gray6, $white);
	}

	&:active {
		@include gradient-background($white, $gray5);
	}
}

.btn--gamma {
	color: $white;
	text-shadow: $text-shadow-dark;
	border-color: $gray7 !important;
	border-radius: $brand-round;
	@include gradient-background($gray8, $gray9);

	&:hover, &:focus {
		@include gradient-background($gray10, $gray11);
	}

	&:active {
		@include gradient-background($gray9, $gray8);
	}
}

.btn--natural, button.btn--natural {
	@include rem-attribute('min-height', 1.5);
	@include rem-attribute('height', 1.5);
	@include rem-attribute('line-height', 1.5);
}
