.btn--positive, button.btn--positive {
	border: 1px solid $green;
	border-radius: $brand-round;
	background-image: -moz-linear-gradient( 90deg, $lighter-green 0%, $light-green 100%);
	background-image: -webkit-linear-gradient( 90deg, $lighter-green 0%, $light-green 100%);
	background-image: -ms-linear-gradient( 90deg, $lighter-green 0%, $light-green 100%);
	@include font-size(1.250);
	font-weight: bold !important;
	text-shadow: $text-shadow-dark;
	color: $lightest;

	&:hover, &:focus {
		border-color: #68ac1f;
		background-image: -moz-linear-gradient( 90deg, #61b621 0%, #7bca25 100%);
		background-image: -webkit-linear-gradient( 90deg, #61b621 0%, #7bca25 100%);
		background-image: -ms-linear-gradient( 90deg, #61b621 0%, #7bca25 100%);
	}

	&:active {
		background-image: -moz-linear-gradient( 90deg, $light-green 0%, $lighter-green 100%);
		background-image: -webkit-linear-gradient( 90deg, $light-green 0%, $lighter-green 100%);
		background-image: -ms-linear-gradient( 90deg, $light-green 0%, $lighter-green 100%);
	} 
}

.btn--secondary, .btn.btn--secondary {
	border-style: solid;
	border-width: 1px;
	border-radius: 4px;
	@include font-size(1.125);
	font-weight: bold;
}

.btn--alpha, .btn--beta, .btn--gamma {
	font-size: inherit;
	&:disabled {
		border-color: #e7e7e7;
		background-image: -moz-linear-gradient( 90deg, $white-smoke 0%, $white 100%);
		background-image: -webkit-linear-gradient( 90deg, $white-smoke 0%, $white 100%);
		background-image: -ms-linear-gradient( 90deg, $white-smoke 0%, $white 100%);
		color: #b9b9b9;
		text-shadow: $text-shadow-white;
	}
}

.btn--alpha {
	color: $white;
	text-shadow: $text-shadow-dark;
	border-color: $nav-blue;
	@include alpha-background(true, true);
}

.btn--beta {
	color: #515151;
	text-shadow: $text-shadow-white;
	border-color: #cdcdcd;
	background-image: -moz-linear-gradient( 90deg, #f1f1f1 0%, $white 100%);
	background-image: -webkit-linear-gradient( 90deg, #f1f1f1 0%, $white 100%);
	background-image: -ms-linear-gradient( 90deg, #f1f1f1 0%, $white 100%);

	&:hover, &:focus {
		background-image: -moz-linear-gradient( 90deg, #f8f8f8 0%, $white 100%);
		background-image: -webkit-linear-gradient( 90deg, #f8f8f8 0%, $white 100%);
		background-image: -ms-linear-gradient( 90deg, #f8f8f8 0%, $white 100%);
	}

	&:active {
		background-image: -moz-linear-gradient( 90deg, $white 0%, #f1f1f1 100%);
		background-image: -webkit-linear-gradient( 90deg, $white 0%, #f1f1f1 100%);
		background-image: -ms-linear-gradient( 90deg, $white 0%, #f1f1f1 100%);
	}
}

.btn--gamma {
	color: $white;
	text-shadow: $text-shadow-dark;
	border-color: #808285 !important;
	border-radius: 6px;
	background-image: -moz-linear-gradient( 90deg, #a2a2a2 0%, #ababab 100%);
	background-image: -webkit-linear-gradient( 90deg, #a2a2a2 0%, #ababab 100%);
	background-image: -ms-linear-gradient( 90deg, #a2a2a2 0%, #ababab 100%);

	&:hover, &:focus {
		background-image: -moz-linear-gradient( 90deg, #b2b2b2 0%, #c2c2c2 100%);
		background-image: -webkit-linear-gradient( 90deg,#b2b2b2 0%, #c2c2c2 100%);
		background-image: -ms-linear-gradient( 90deg, #b2b2b2 0%, #c2c2c2 100%);
	}

	&:active {
		background-image: -moz-linear-gradient( 90deg, #ababab 0%, #a2a2a2 100%);
		background-image: -webkit-linear-gradient( 90deg, #ababab 0%, #a2a2a2 100%);
		background-image: -ms-linear-gradient( 90deg, #ababab 0%, #a2a2a2 100%);
	}
}
